<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymene.org">
<head>
    <meta charset="UTF-8" />
    <title>Spring 5 Framework Guru</title>
</head>
<body>
<h1>Author List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">123</td>
        <td th:text="${author.firstName}">Joe</td>
        <td th:text="${author.lastName}">Buck</td>
    </tr>
</table>
</body>
</html>